<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <sectionGroup name="businessObjects">
      <sectionGroup name="crystalReports">
        <section name="rptBuildProvider" type="CrystalDecisions.Shared.RptBuildProviderHandler, CrystalDecisions.Shared, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304, Custom=null"/>
      </sectionGroup>
    </sectionGroup>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <connectionStrings>
    <add name="ApplicationServices" connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnetdb.mdf;User Instance=true" providerName="System.Data.SqlClient"/>
    <add name="iSuggestConnectionString" connectionString="Data Source=USER-HP\SQL;Initial Catalog=iSuggest;User ID=sa;Password=ipe123" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="dbcon" value="server=LENOVO-PC\SQL;uid=sa;pwd=sqlSQL2012!;database=DB_COR;"/>
    <add key="appParamShowFemalePhoto" value="FALSE"/>
    <!--VALUE WILL BE TRUE OR FALSE-->
    <!--<add key="dbCon" value="server=AS011DAGV01,40590;uid=EMIRATESID\ideasadmin;database=RECRUITMENT_LIVE_DG;Trusted_Connection=Yes;" />-->
    <!--<add key="dbcon" value="server=g-04-88-l-057\sql2012;uid=sa;pwd=sqlSQL2013!;database=PRIDC_SERVICE;" />-->
    <!--<add key="dbCon" value="Data Source=10.30.30.26:5431/repdb_srv;User ID=benefits_usr_rw;Password=b3nf1t5#452;" />-->
    <add key="ChartImageHandler" value="Storage=file;Timeout=20;deleteAfterServicing=false;privateImages=false ;Url=~/tempImages/;"/>
    <add key="urlPath" value="http://recruitmentbo/"/>
    <add key="cvPath" value="D:\\EIDA ATTACHMENTS\\RECRUITMENT_SERVICE_ADMIN\\ATTACHMENTS"/>
    <add key="profileImageFolderName" value="PROFILE_IMAGES"/>
    <add key="clientFolderName" value="RECRUITMENT_SERVICE_CLIENT"/>
    <add key="adminFolderName" value="RECRUITMENT_SERVICE_ADMIN"/>
    <add key="varEmailImagePath" value="https://careers.emiratesid.ae/images/emailLeft.jpg"/>
    <add key="webUrl" value="https://careers.emiratesid.ae/"/>
    <add key="BOUrl" value="http://recruitmentbo/"/>
    <add key="ItDepartmentId" value="15"/>
    <add key="ItInformationSecurity" value="41"/>
    <add key="acceptedFileEstensionsJobOffer" value="doc,docx,pdf"/>
    <add key="mimeTypesAcceptedJobOffer" value="application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,application/pdf,application/x-pdf,application/ppdf,image/jpeg,image/x-jpeg,image/pjpeg,image/jpg,image/x-jpg,image/pjpg,image/png,image/x-png,image/ppng,image/gif,image/x-gif,image/pgif,audio/mpeg,audio/x-mpeg,audio/pmpeg,video/mp4,video/x-mp4,video/pmp4,video/flv,video/x-flv,video/pflv,video/ms-wmv,video/x-ms-wmv,video/pms-wmv,video/mpeg,video/x-mpeg,video/pmpeg"/>
  </appSettings>
  <log4net>
    <appender name="DETAILS" type="log4net.Appender.RollingFileAppender">
      <file value="LogBackUp\"/>
      <staticLogFileName value="false"/>
      <appendToFile value="true"/>
      <rollingStyle value="Date"/>
      <datePattern value="yyyy-MM-dd.'Err'"/>
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%d{DATE} [%t] %-5p %c - %m%n"/>
      </layout>
    </appender>
    <logger name="DETAILS">
      <maximumFileSize value="15MB"/>
      <appender-ref ref="DETAILS"/>
    </logger>
  </log4net>
  <system.web>
    <authorization>
      <!--<deny verbs="OPTIONS" users="*" />
      <deny verbs="TRACE" users="*" />-->
      <allow users="*"/>
    </authorization>
    <sessionState mode="InProc" timeout="525600"/>
    <pages>
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting" assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
      </controls>
    </pages>
    <httpHandlers>
      <add path="*" verb="OPTIONS" type="System.Web.DefaultHttpHandler" validate="true"/>
      <add path="*" verb="TRACE" type="System.Web.DefaultHttpHandler" validate="true"/>
      <!--asdfdf-->
      <remove verb="*" path="*.asmx"/>
      <add verb="POST,GET" path="ajax/*.ashx" type="Ajax.PageHandlerFactory, Ajax"/>
      <!--asdfdf-->
      <!--<add path="ajax/*.ashx" verb="POST,GET" type="Ajax.PageHandlerFactory, Ajax"/>-->
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" validate="false"/>
      <add path="ChartImg.axd" verb="GET,HEAD,POST" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false"/>
    </httpHandlers>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="Microsoft.Build.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Management, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="Ajax, Version=5.7.20.2, Culture=neutral, PublicKeyToken=null"/>
        <add assembly="System.DirectoryServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="Microsoft.ReportViewer.Common, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.ServiceProcess, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </assemblies>
      <buildProviders>
        <add extension=".rpt" type="CrystalDecisions.Web.Compilation.RptBuildProvider, CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
      </buildProviders>
    </compilation>
    <!--<authentication mode="Forms">
      <forms loginUrl="~/Account/Login.aspx" timeout="2880" />
    </authentication>-->
    <authentication mode="Windows"/>
    <membership>
      <providers>
        <clear/>
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/"/>
      </providers>
    </membership>
    <profile>
      <providers>
        <clear/>
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/"/>
      </providers>
    </profile>
    <roleManager enabled="false">
      <providers>
        <clear/>
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/"/>
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/"/>
      </providers>
    </roleManager>
    <customErrors mode="RemoteOnly" defaultRedirect="~/ErrorPages/Oops.aspx">
      <!--<error statusCode="404" redirect="~/ErrorPages/404.aspx" />-->
    </customErrors>
    <httpRuntime maxRequestLength="122097151" enableVersionHeader="false"/>
    <machineKey validation="3DES"/>
    <!--<identity impersonate="false" />-->
    <identity impersonate="false"/>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly dependencyType="preRequisite" allowDelayedBinding="true">
        <assemblyIdentity name="log4net" version="1.2.10.0" publicKeyToken="692FBEA5521E1304" language="neutral" processorArchitecture="x86"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <clear/>
        <add name="X-UA-Compatible" value="IE=EmulateIE7"/>
        <add name="X-Frame-Options" value="SAMEORIGIN"/>
      </customHeaders>
    </httpProtocol>
    <modules runAllManagedModulesForAllRequests="true"/>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <remove name="ChartImageHandler"/>
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
      <add name="CrystalImageHandler.aspx_GET" verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" preCondition="integratedMode"/>
      <add name="ChartImageHandler" preCondition="integratedMode" verb="GET,HEAD,POST" path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
      <add name="ScriptResource" preCondition="integratedMode" verb="GET,HEAD" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
    </handlers>
    <defaultDocument>
      <files>
        <clear/>
        <add value="frmLogin.aspx"/>
      </files>
    </defaultDocument>
    <staticContent>
      <mimeMap fileExtension="." mimeType="text/plain"/>
      <mimeMap fileExtension=".jnlp" mimeType="application/x-java-jnlp-file"/>
    </staticContent>
    <!--<security>
      <requestFiltering>
        <verbs>
          <add verb="TRACE" allowed="false" />
          <add verb="OPTIONS" allowed="false" />
        </verbs>
      </requestFiltering>
    </security>-->
    <!--<rewrite>
      <outboundRules>
        <rule name="Remove Server">
          <match serverVariable="RESPONSE_SERVER" pattern=".*"/>
          <action type="Rewrite" value="0"/>
        </rule>
        <rule name="ASPNET VERSION">
          <match serverVariable="RESPONSE_X-ASPNET-VERSION" pattern=".*"/>
          <action type="Rewrite" value="0"/>
        </rule>
        <rule name="POWERED-BY">
          <match serverVariable="RESPONSE_X-POWERED-BY" pattern=".*"/>
          <action type="Rewrite" value="0"/>
        </rule>
      </outboundRules>
    </rewrite>-->
  </system.webServer>
  <businessObjects>
    <crystalReports>
      <rptBuildProvider>
        <add embedRptInResource="true"/>
      </rptBuildProvider>
    </crystalReports>
  </businessObjects>
</configuration>