body   
{
    /*background: #b6b7bc;*/
    /*font-size: .80em;*/
    font-family: "Helvetica Neue", "Lucida Grande", "Segoe UI", Arial, Helvetica, Verdana, sans-serif;*/
    /*font-family: 'Alef Hebrew', serif;*/
    margin: 0px;
    padding: 0px;
    color: #696969;
}